
<div class="container mt-3">

    <div class="row">

        <div class="col-md-6 col-lg-4 mt-3">
            <mat-card class="card">
                <mat-card-title>Actions Buttons</mat-card-title>
                <mat-card-subtitle>End</mat-card-subtitle>
                <mat-card-actions align="end">
                    <button mat-button>Like</button>
                    <button mat-button>Share</button>
                </mat-card-actions>
            </mat-card>
        </div>

        <div class="col-md-6 col-lg-4 mt-3">
            <mat-card class="card">
                <mat-card-title>Actions Buttons</mat-card-title>
                <mat-card-subtitle>End</mat-card-subtitle>
                <mat-card-actions align="end">
                    <button mat-button>Like</button>
                    <button mat-button>Share</button>
                </mat-card-actions>
            </mat-card>
        </div>

    </div>

</div>